@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Signika+Negative:wght@300;400&display=swap');

.heading {
    color: #f0aaa9;
    background-color: #06283D;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    font-weight: 800px;
    margin: 5% 0% 3% 0%;
    padding: 0%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.button {
    background: #06283D;
    border-radius: 999px;
    box-shadow: #47B5FF 0 10px 20px -10px;
    box-sizing: border-box;
    margin: 10px;
    color: #f0aaa9;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    border: 0;
  }

  .button--login {
    max-height: 150px;
    width: 300px;
    font-size: 80px;
  }

  .button--finish {
    background: #47B5FF;
    border-radius: 999px;
    box-shadow: #47B5FF 0 10px 20px -10px;
    box-sizing: border-box;
    color: #f0aaa9;
    width: 120px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    border: 0;
  }

  .button--addset {
    background: #47B5FF;
    border-radius: 999px;
    box-shadow: #47B5FF 0 10px 20px -10px;
    box-sizing: border-box;
    color: #f0aaa9;
    width: 120px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    border: 0;
  }

  .button--remove {
    background: #47B5FF;
    border-radius: 999px;
    box-shadow: #47B5FF 0 10px 20px -10px;
    box-sizing: border-box;
    color: #f0aaa9;
    width: 120px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    border: 0;
  }

  .button--add {
    background: #47B5FF;
    border-radius: 999px;
    box-shadow: #47B5FF 0 10px 20px -10px;
    box-sizing: border-box;
    color: #f0aaa9;
    width: 120px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    border: 0;
  }

  .dropdown--menu {
    background-color: white;
    border-radius: 5%;
  }

.add-session-page {
  overflow-y: overlay;
  height: 400px;
 
}