table {
    border-collapse: collapse;
    border: 5px solid;
    text-align: center;
    width: auto;
}
.history-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:2vw;
    white-space: nowrap;
}

tr {
    border-radius: 5px solid;
    text-align: center;
}

td {
    text-align: center;
        border: 5px solid;

}

thead {    border: 5px solid;
    text-align: center;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 5px solid;
    margin: 20px;
}

tr:hover {background-color: #f0aaa9 ;}